{% extends "communitymanager/dash_base.html" %}
{%load static%}
{%block content%}
<div class="container-fluid module">
    <div class="row">
        <div class="col-md-12 body-default-view">
            <div class="container">
                <div class="title">Bookings</div>
                <div class="bookings-table-description">List of bookings for next 30 days</div>
                    <table id="booking-table" class="table table-striped tablesorter">
                        <thead>
                        <tr>
                        <th>Room</th>
                        <th>Company</th>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Booked by</th>
                        <th>Email</th>
                        <th>Note</th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {%for booking in bookings%}
                        <tr>
                            <td>{{booking.room}}</td>
                            <td>{{booking.company}}</td>
                            <td>{{booking.date}}</td>
                            <td>{{booking.whole_start_time}}</td>
                            <td>{{booking.whole_end_time}}</td>
                            <td>{{booking.booked_by}}</td>
                            <td>{{booking.email}}</td>
                            <td>{{booking.note}}</td>
                            <td><a href="{% url 'edit_instance' model='bookings' id=booking.id %}">
                                <button class="btn btn-sm btn-success">Edit</button>
                            </a></td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                    <div>
                        <a href="{% url 'new_instance' model='bookings'%}">
                            <button class="btn btn-default">Add New Booking</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function()
    {
        $("#booking-table").tablesorter( {sortList: [[0,0], [1,0]]} );
    }
);
</script>
{%endblock%}