{% extends "communitymanager/dash_base.html" %}

{%block content%}

<div class="container-fluid module">
     <div class="row">
        <div class="col-md-12 body-default-view">
            <div class="container">
                <table class="table table-striped">
                    <tr>
                        <th>Companies</th>
                        <th>Total Hours</th>
                        <th></th>
                    </tr>
                    {%for company in companies%}
                        <tr>
                            <td>{{company.company_name}}</td>
                            <td>{{company.total_hours}}</td>
                            <td><a href="{% url 'edit_company' id=company.id %}"><button class="btn btn-sm btn-success">Edit</button></a></td>
                        </tr>
                    {%endfor%}
                </table>
                <div>
                    <a href="{% url 'new_company' %}"><button class="btn btn-default">Add New Company</button></a>
                </div>
            </div>
        </div>
     </div>
</div>


{%endblock%}