{% extends "communitymanager/dash_base.html" %}

{%block content%}

<div class="container-fluid module">
     <div class="row">
        <div class="col-md-12 body-default-view">
            <div class="container">
                <div class="title">Companies</div>
                <table id="company-table" class="table tablesorter">
                    <thead>
                    <tr>
                        <th>Companies</th>
                        <th>Total Hours</th>
                    </tr>
                    </thead>
                    {%for company in companies%}
                        <tr>
                            <td>{{company.company_name}}</td>
                            <td>{{company.total_hours}}</td>
                            <td><a href="{% url 'edit_instance' model='companies' id=company.id %}"><button class="btn btn-sm btn-success">Edit</button></a></td>
                        </tr>
                    {%endfor%}
                </table>
                <div>
                    <a href="{% url 'new_instance' model='companies' %}"><button class="btn btn-primary">Add New Company</button></a>
                </div>
            </div>
        </div>
     </div>
</div>
<script>
    $(document).ready(function()
    {
        $("#company-table").tablesorter( {sortList: [[0,0], [1,0]]} );
    }
);
</script>

{%endblock%}