{% extends "communitymanager/dash_base.html" %}

{%block content%}

<div class="container-fluid module">
     <div class="row">
        <div class="col-md-12 body-default-view">
            <div class="container">
                <table class="table table-striped">
                    <tr>
                        <th>Companies</th>
                        <th>Total Hours</th>
                    </tr>
                    {%for company in companies%}
                        <tr>
                            <td>{{company.company_name}}</td>
                            <td>{{company.total_hours}}</td>
                            <td><button class="btn btn-sm btn-success"><a href="{% url 'edit_company' id=company.id %}">Edit</a></button></td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
     </div>
</div>


{%endblock%}