{% extends "communitymanager/dash_base.html" %}

{% load static %}}

{%block content%}
<div class="container-fluid dashboard-body" id="overview-view">
    <div class="row">
        <div class="col-md-12 body-default-view">Pending Bookings
            <div class="container">
            <table class="table" id="pending-bookings-container">
            <tr>
            <th>Company</th>
            <th>Room</th>
            <th>Booking Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Deny</th>
            <th>Approve</th>
            </tr>
                {%if not bookings%}
                <div>No pending bookings</div>
                {%else%}
                {%for booking in bookings%}
                {%if booking.status%}
                    <tr>
                    <td>{{booking.company}}</td>
                    <td>{{booking.room}}</td>
                    <td>{{booking.date}}</td>
                    <td>{{booking.start_time}}</td>
                    <td>{{booking.end_time}}</td>
                    <td>
                        <input type="submit" value=" - " class = "button" id = "delete_pending">
                    </td>
                    <td>
                        <input type="submit" value="&#10004" class = "button" id = "approve_pending">
                    </td>
                    </tr>
            {%endif%}
                {%endfor%}
                {%endif%}
            </table>
            </div>
        </div>
        <div class="col-md-12 body-default-view" id="dashboard-companies-container">Rooms
            <table class="table">
                <tr>
                    <th>Room</th>
                    <th>Edit</th>
                </tr>
                {% for room in rooms%}
                <tr id="room_{{room.id}}" class="room-row" style="text-align:left">
                    <td>{{room.room_name}}</td>

                    <td>
                        <button value="room_{{room.id}}_info" class="btn btn-default edit-room">Edit</button>
                    </td>
                </tr>
                <tr hidden id="room_{{room.id}}_info">
                    <td>
                        Hey, bad boy.
                    </td>
                </tr>
                <!--<tr style="text-align:left">-->
                    <!--<td hidden class ="dashboard-rm-description"><b>Room Description:</b> {{room.room_fac}}<b> Capacity:</b> {{room.room_capacity}}</td>-->
                    <!--<td hidden class ="dashboard-rm-description"><input type="submit" value="do something" class = "button"></td>-->
                <!--</tr>-->
            {%endfor%}
            </table>
            <div class = "add-room-btn-container">
                    <input type="submit" value="+" class = "button" id = "add-room">
            </div>
        </div>
        </div>

    <div class = "row">
        <div class="col-md-12 body-default-view" id="dashboard-rooms-container">Companies
            <table class="table">
                <tr>
                    <th>Company</th>
                    <th>Edit</th>
                </tr>
                {% for company in companies%}
                <tr style="text-align:left">
                    <td>{{company.company_name}}</td>
                    <td>
                        <input type="submit" value=" - " class = "button">
                    </td>
                </tr>
            {%endfor%}
            </table>
        </div>

        <div class="col-md-12 body-default-view" id="fourth-section"></div>

    </div>
</div>
<script src="{%static 'js/dashboard.js'%}"></script>
{%endblock%}