<!DOCTYPE html>
{% extends "roombooker/base.html" %}
{%block content%}
<div class="container">

</div>

<!--{%if not bookings%}-->
<!--<div>No bookings</div>-->
<!--{%else%}-->
<!--<div class="container">-->
    <!--<table class="table table-striped">-->
        <!--<tr>-->
            <!--<th>Company</th>-->
            <!--<th>Room</th>-->
            <!--<th>Booking Date</th>-->
            <!--<th>Start Time</th>-->
            <!--<th>End Time</th>-->
        <!--</tr>-->
        <!--{%for booking in bookings%}-->
        <!--<tr>-->
            <!--<td>{{booking.company}}</td>-->
            <!--<td>{{booking.room}}</td>-->
            <!--<td>{{booking.date}}</td>-->
            <!--<td>{{booking.start_time}}</td>-->
            <!--<td>{{booking.end_time}}</td>-->
        <!--</tr>-->
        <!--{%endfor%}-->
    <!--</table>-->
<!--</div>-->
<!--{%endif%}-->


{%endblock%}