{% extends "communitymanager/dash_base.html" %}
{%block content%}
<div class="container-fluid index" id="index-view">
    <div class="row">
        <div class="col-md-12 body-default-view">
            <div class="container">
<form method="POST" class="edit-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <button type="submit" name="delete" class="delete btn btn-danger" onclick="return confirm('Delete this company?')">Delete</button>
    </form>
        <div>
            <a href="{%url 'companies'%}"><button class="cancel btn btn-warning">Cancel</button></a>
        </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}