{% extends "communitymanager/dash_base.html" %}
{%block content%}
<div class="container-fluid index" id="index-view">
    <div class="row">
        <div class="col-md-12 body-default-view">
            <div class="container" id="edit-form-container">
                <form method="POST" class="edit-form" enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p}}
                    <div class = "save-delete-container">
                    <button type="submit" class="save btn btn-default">Save</button>
                    {%if not new%}
                    <button type="submit" name="delete" class="delete btn btn-danger"
                            onclick="return confirm('Confirm Delete?')">Delete
                    </button>
                        </div>
                    {%endif%}
                </form>
                <div>
                    <a href="{{request.META.HTTP_REFERER}}">
                        <button class="cancel btn btn-warning">Cancel</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}