{% extends "communitymanager/dash_base.html" %}
{%load static%}
{%block content%}
<div class="container module" id="index-view">
    <h3 class="cm-page-title">Techcode Booker Community Manager Page</h3>
    <div class="row">
        <div class="col-md-12 body-default-view">
            <h3 class = "date-header">Today is {% now "jS F Y" %}</h3>
            <div id="pending-bookings-container" class="container-fluid">
                {%if not bookings%}
                <div><b>No pending bookings</b></div>
                {%else%}
                <table class="table table-sm">
                    <caption><b>Pending Bookings</b></caption>
                    <thead class="thead-inverse">
                    <tr>
                        <th>Company</th>
                        <th>Room</th>
                        <th>Booking Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Deny</th>
                        <th>Approve</th>
                    </tr>
                    </thead>
                    {%for booking in bookings%}
                    <tr id="{{booking.id}}">
                        <td>{{booking.company}}</td>
                        <td>{{booking.room}}</td>
                        <td>{{booking.date}}</td>
                        <td>{{booking.whole_start_time}}</td>
                        <td>{{booking.whole_end_time}}</td>
                        <td>
                            <button data-booking-id={{booking.id}} value="delete"
                                    class="delete-pending pending-action btn-danger">
                                Cancel
                            </button>
                        </td>
                        <td>
                            <button data-booking-id={{booking.id}} type="submit" value="approve"
                                    class="approve-pending pending-action btn-success">Approve
                            </button>
                        </td>
                    </tr>
                    {%endfor%}
                    {%endif%}
                </table>
                <div id="pending-action-msg"></div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 room-calendar-view">
                        <h4>View Calendar for a Room</h4>
                        <span>
                        {%for room in rooms%}
                                <a href="booker/dashboard/rooms/{{room.id}}/calendar"><button class="cal-select btn btn-primary">{{room.room_name}}</button></a>
                        {%endfor%}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="{%static 'js/community.js'%}"></script>
{%endblock%}