{% extends "communitymanager/dash_base.html" %}
{%block content%}
<div class="container-fluid index" id="index-view">
    <div class="row">
        <div class="col-md-12 body-default-view">
            <div id="pending-bookings-container" class="container">
                 {%if not bookings%}
                <div>No pending bookings</div>
                {%else%}
            <table class="table table-sm">
            <caption>Pending Bookings</caption>
            <thead class="thead-inverse">
            <tr>
            <th>Company</th>
            <th>Room</th>
            <th>Booking Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Deny</th>
            <th>Approve</th>
            </tr>
            </thead>
                {%for booking in bookings%}
                    <tr id="{{booking.id}}">
                    <td>{{booking.company}}</td>
                    <td>{{booking.room}}</td>
                    <td>{{booking.date}}</td>
                    <td>{{booking.whole_start_time}}</td>
                    <td>{{booking.whole_end_time}}</td>
                    <td>
                        <button data-booking-id={{booking.id}} value="delete" class = "delete-pending pending-action" >Cancel</button>
                    </td>
                    <td>
                        <button data-booking-id={{booking.id}} type="submit" value="approve" class = "approve-pending pending-action">Approve</button>
                    </td>
                    </tr>
                {%endfor%}
                {%endif%}
            </table>
                <div id="pending-action-msg"></div>
            </div>
        </div>
    </div>

</div>
{%endblock%}