{% extends "communitymanager/dash_base.html" %}
{%block content%}

<div class="container-fluid module">
     <div class="row">
        <div class="col-md-12 body-default-view">
            <div class="container">
                <div class="title">Rooms</div>
                <table id="room-table" class="table tablesorter">
                    <thead>
                    <tr>
                        <th>Room Name</th>
                        <th>Room Capacity</th>
                        <th>Room Facilities</th>
                        <th>Room Notes</th>
                    </tr>
                    </thead>
                    {%for room in rooms%}
                        <tr>
                            <td>{{room.room_name}}</td>
                            <td>{{room.room_capacity}}</td>
                            <td>{{room.room_fac}}</td>
                            <td>{{room.room_notes}}</td>
                            <td><a href="{% url 'edit_instance' model='rooms' id=room.id %}"><button class="btn btn-sm btn-success">Edit</button></a>
                                <a href="{% url 'show_calendar' id=room.id %}"><button class="btn btn-sm btn-primary">Calendar</button></a>
                            </td>
                        </tr>
                    {%endfor%}
                </table>
                <div>
                    <a href="{% url 'new_instance' model='rooms' %}"><button class="btn add-new">Add New Room</button></a>
                </div>
            </div>
        </div>
     </div>
</div>
<script>
    $(document).ready(function()
    {
        $("#room-table").tablesorter( {sortList: [[0,0], [1,0]]} );
    }
);
</script>

{%endblock%}
