{% extends "communitymanager/dash_base.html" %}
{%block content%}

<div class="container-fluid module">
     <div class="row">
        <div class="col-md-12 body-default-view">
            <div class="container">
                <table class="table table-striped">
                    <tr>
                        <th>Room Name</th>
                        <th>Room Capacity</th>
                        <th>Room Facilities</th>
                        <th>Room Notes</th>
                        <th></th>
                    </tr>
                    {%for room in rooms%}
                        <tr>
                            <td>{{room.room_name}}</td>
                            <td>{{room.room_capacity}}</td>
                            <td>{{room.room_fac}}</td>
                            <td>{{room.room_notes}}</td>
                            <td><button class="btn btn-sm btn-success"><a href="{% url 'edit_room' id=room.id %}">Edit</a></button></td>
                        </tr>
                    {%endfor%}
                </table>
                <div>
                    <button class="btn btn-default"><a href="{% url 'new_room' %}">Add New Room</a></button>
                </div>
            </div>
        </div>
     </div>
</div>

{%endblock%}
