<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Booker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/roombooker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

</head>
<body>

<div class="wrap">
    <div class="head">
        <span class="logo">
            <a href="http://www.techcode.com/en/"><img src="{% static 'img/techcode_logo.png' %}" alt="My image"
                                                       class="logo"> </a>
        </span>
        <span class="header-right-side">
            <a class="home" href="#">Home</a>
        </span>
    </div>
</div>
{% block content %}

{% endblock %}
<script src="{% static 'js/roombooker.js' %}">
</script>
</body>
</html>