{% extends "roombooker/base.html" %}
{% load i18n %}
{% load static%}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8" id="calendar">
            <div class="month">
                <ul>
                    <li class="prev" id = "btn-prev"><a href="#">&#10094;</a></li>
                    <li class="next" id = "btn-next"><a href="#">&#10095;</a></li>
                    <li>
                        Month<br>
                    <span style="font-size:18px">Year</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 form-background">
            <div></div>
            <form action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ wizard.form }}
                <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <input disabled class="btn-block" id="submit-btn" type="submit" value="{% trans 'Submit' %}" />

            </form>
                <a href="/booker"><button name="wizard_goto_step" value="{{ wizard.steps.prev }}">Back to Room Selection</button></a>
        </div>
    </div>
</div>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}


