{% extends "roombooker/base.html" %}
{% load i18n %}
{% load static%}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="container" id="body-background">
    <div class="row">
        <div class="col-md-8" id="calendar">
            <div class="month">
                <ul>
                    <li class="prev" id = "btn-prev"><a href="#">&#10094;</a></li>
                    <li class="next" id = "btn-next"><a href="#">&#10095;</a></li>
                    <li>
                        Month<br>
                    <span style="font-size:18px">Year</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4 form-background">
            <div data-room-id="{{data_from_step_1.id}}" id="selected-room">
                <img class = "image-from-step-1" src="{{data_from_step_1.room_image.url}}">
                <h4>{{data_from_step_1.room_name}}</h4>
            </div>
        <h3 hidden>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h3>
            <form action="" method="post" class = "step-2-form">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ wizard.form }}
                <p id="user-message"></p>
                <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <input disabled class="btn-block btn-primary" id="submit-btn" type="submit" value="{% trans 'Submit' %}" />

            </form>
                <a href="/booker"><button class="btn btn-danger btn-md center-block button-margin" name="wizard_goto_step" value="{{ wizard.steps.prev }}">Back</button></a>
          </div>
    </div>
</div>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}


