{% extends "roombooker/base.html" %}
{% load i18n %}
{% load static %}}

{% block head %}
{{ wizard.form.media }}
<link rel="stylesheet" type="text/css" href="{% static 'css/confirmation.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid middle-center">
    <div class = "row">
        <div class="col-md-12 submission-form-container">
            <ul class = "confirmation-data">
                <li class = "listed-data-items"><img style="height:150px;" src="{{data_from_step_1.room_image.url}}"/>
                <li class = "listed-data-items">Selected Room: {{data_from_step_1.room_name}}</li>
                <li class = "listed-data-items">Start-time: {{data_from_step_2.start_time}}:{{data_from_step_2.start_minutes}}</li>
                <li class = "listed-data-items">End-time: {{data_from_step_2.end_time}}:{{data_from_step_2.start_minutes}}</li>
                <li class = "listed-data-items">Date: {{data_from_step_2.booking_date}}</li>
                <li class = "listed-data-items" id="reservation-status">{{ message.msg }}</li>
            </ul>
            <div>
            <form action="" method="post" class = "form-3-step">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ wizard.form }}
                <div class="form-3-btn-container">
                    <input class="btn btn-primary" type="submit" value="{% trans 'Confirm Booking' %}"/><br>
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class = "btn btn-danger step-3-back-btn" formnovalid>{% trans "Back" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}