{% extends "roombooker/base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}
{%load staticfiles%}

{% block content %}

<div class="middle-center">
    <div id="user">
    <img src="{{data_from_step_1.room_image.url}}"/>
    {{data_from_step_1.room_name}}
    {{data_from_step_2.booking_date}}
    {{data_from_step_2.start_time}}
    {{data_from_step_2.end_time}}
    </div>

    <form action="" method="post">
        <h3>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h3>
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form }}

    <input class="btn btn-primary btn-lg" type="submit" value="{% trans 'Confirm Booking' %}"/>
    </form>

</div>
{% endblock %}