{% extends "roombooker/base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}
{%load staticfiles%}

{% block content %}

<div class = "container">
    <div class = "row">
        <div class = "col-md-12 thanks-container">
            {{ wizard.management_form }}
            {%if error%}
                <p>{{error}}</p>
            {%endif%}
            <h2 class = "thank-you">Thank You!</h2>
            {%for data in form_data%}
                <div hidden>{{data}}</div>
            {%endfor%}
        </div>
    </div>
</div>



{% endblock %}