{% extends "roombooker/base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

    <div class = "container-fluid room-selection-container">
        <div class = "row">
            <div class="col-md-6 first-container">
                <div class = "available-rooms">Available Rooms</div>
                <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
                 <div class="row img-container">
                     {%for room in view.rooms%}
                     <div class="col-md-4 img-divs">
                         <div data-value={{room.id}} class="thumbnail room-option clickable">
                                 <img src="{{room.room_image.url}}" alt="Lights" style="width:100%">
                                 <div class="caption">
                                     <p>{{room.room_name}}</p>
                                 </div>
                         </div>
                     </div>
                     {%endfor%}
                 </div>

            </div>
            <div class="col-md-6 second-container">
                <div class = "available-room-info">Room Information</div>
                <div class = "description-container">
                    <h2 id="room-name" class="room-name"></h2>
                    <div class = "room-description">
                        <div id="room-facilities" class="room-detail"></div>
                        <div id="room-capacity" class="room-detail"></div>
                    </div>
                </div>
                <div class = "form-1-container">
                    <form action="" method="post">{% csrf_token %}
                        {{ wizard.management_form }}
                        {{ wizard.form }}
                    <input type="submit" value="{% trans 'Book Now' %}" class = "form-1-btn"/>
                </form>
                </div>
            </div>
        </div>
    </div>
<div class = "bottom-container">

</div>

    <!--<form method="post" class = "signup_form" action="/billboard/newusercreated/">-->
    <!--{% csrf_token %}-->
        <!--{{ form.as_p }}-->
    <!--<input type="submit" value="Create" class = "create_user_btn"/>-->
    <!--</form>-->
{% endblock %}