{% extends "admin/base.html" %}
{%load static%}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<style>
    #header{
        background-color:white;
        padding-bottom:5%;
    }

    #user-tools{
        color:purple;

    }

    #user-tools a:link{
        color:purple;
    }

    #user-tools a:active{
        color:purple;
    }
    #user-tools a:visited{
        color:purple;
    }

    div.breadcrumbs.header-override {
        background-color: rgb(31, 44, 92);
    }

    #btn-delete-override {
        background-color: rgb(31, 44, 92);
    }

    #btn-back-override {
        background-color: rgb(216, 12, 24);
        display: inline;
        color: white;
    }


</style>
{%endblock%}

{% block branding %}
<span class="logo">
            <a href="http://www.techcode.com/en/"><img src="{% static 'img/techcode_logo.png' %}" alt="My image" class="logo"> </a>
        </span>
{% endblock %}


{% block nav-global %}{% endblock %}