


#id_Booking-company{
    color: black;
    width:100%;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    border:2px solid black;
}


input[type=text] {
    width: 100%;
    padding: 10px 4px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid black;
}

input[type=text]:focus {
    border: 2px solid #555;
}


#calendar {
    margin-top: 4%;
    display: inline-block;
    position: relative;
    float: left;
    background-color: white;
    height:800px;
    overflow-x:scroll;
    overflow-y:scroll;
}

.month {
    padding: 30px 25px;
    width: 100%;
    background: #0091db;
}


/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    list-style: none;
    text-align: center;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

.rows:first-child{
    /*margin: 0;*/
}
.rows {
    border: 1px solid black;
    height: 50px;
}

.columns {
    width: 14.2%;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
}

