body{
    background-color:rgb(0,121,195);
}

#techcode-header{
    border:0;
}

div.navbar.manager-options{
    margin-bottom:0;
    border-radius:0;
    border:none;
}

div.container{
    margin-top:7%;
}

#pending-bookings-container{
    border:1px solid black;
    background-color:white;
}

div.container.module{
    background-color:white;
}



button.delete, button.save{
    margin-bottom:1em;
    display:block;
}

.delete-pending {
    background-color: rgba(216, 12, 24, 1);
    border: none;
    color: white;
    padding: 5%;
}

.approve-pending {
    background-color: rgba(0, 121, 195, 1);
    border: none;
    color: white;
    padding: 5%;
}

#edit-form-container {
    /*display: inline-block;*/
    background-color: rgba(0, 121, 195, 0.2);
    padding: 4%;
    width: 90%;
    margin-left: 4%;
    float: left;
    clear: left;
    text-align: left;
}

.save {
    margin-bottom: 2%;
}

/*FOR TABS IN THE INDEX DON'T TOUCH FOR NOW*/
#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

