.dashboard-nav {
    background-color: #1F2C5C;
    width: 100%;
    padding: 1%;
    text-align: center;
}

.body-default-view {
    border: 1px solid black;
    /*height: 200px;*/
    text-align: center;
}

#overview-view {

}

.dashboard-edit-room-btns {

}

#bookings-view {
    display: none;
    margin-top: 4%;
    margin-left: 3%;



}

#analytics-view {
    display: none;
}

#pending-bookings-container {
    width: 200px;
    height: 200px;

}

/*.pending-booking-rows {*/
    /*height: 30px;*/
    /*background-color: red;*/
/*}*/

/*.pending-booking-cols {*/
    /*background-color: green;*/
/*}*/

/*.pending-button-container {*/
    /*display: inline;*/
/*}*/

/*#delete_pending {*/
    /*background-color: rgba(216, 12, 24, 1);*/
    /*border-radius: 25px;*/
    /*display: inline;*/
/*}*/
/*#approve_pending {*/
    /*background-color: rgba(111, 186, 44, 1);*/
    /*border-radius: 25px;*/
    /*display: inline;*/
/*}*/

#fourth-section {
    height: 100px;
}