

.clickable{
	cursor:pointer;
}

.shadowed{
 -webkit-box-shadow: 3px 3px 23px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 23px 0px rgba(50, 50, 50, 0.75);
		 box-shadow:         3px 3px 23px 0px rgba(50, 50, 50, 0.75);
}

.middle-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*Tech Code Colors*/
/*red         R216 G12 B24*/
/*pink        R241 G0 B116*/
/*orange      R118 G29 B117*/
/*light-green R0 G121 B195*/
/*light-blue  R0 G145 B219*/
/*medium-blue R111 G186 B44*/
/*purple      R241 G141 B0*/
/*dark-blue   R31 G44 B92*/
