/*#Desktop organize colums info(left) Gallery(right)*/
@media(min-width:700px){
}

body {
    background-image: url('../img/Event_Hall_background1.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 100%;
    height: 100%;
}


/*for roombooker.html*/
.room-selection-container {
    background-color: rgba(255, 255, 255, .7);
    /*background-image: url("https://images.pexels.com/photos/273238/pexels-photo-273238.jpeg?h=350&auto=compress&cs=tinysrgb");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 0;*/
    /*background-size: cover;*/
    /*width: 100%;*/
    /*height: 100%;*/

}

.page-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.2em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
}

.first-container {
    text-align: center;


    /*margin-left: 3%;*/
    /*background-image: url("https://images.pexels.com/photos/296883/pexels-photo-296883.jpeg?h=350&auto=compress&cs=tinysrgb");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 0;*/
    /*background-size: cover;*/
}

.available-rooms {
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    letter-spacing: 0.2em;
}
.img-container {
    padding: 1%;
}
.img-grid {
    padding: 3%;
    margin-bottom: 1%;
}

.room-img {
    height: 150px;
    /*border-radius: 100px;*/
    background-position: 50% 50%;
    box-shadow: 2px 2px 2px #888888;
}

.second-container {
    text-align: center;

}

.available-room-info {
    padding: 6%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.2em;
}


.description-container {
    /*background: rgba(0, 0, 0, .4);*/
    /*padding: 2%;*/

}

.room-description {
    margin-top: 4%;
    font-size: 18px;
    /*/color: white;*/
    width: 50%;
    vertical-align: text-top;
    margin-left: 25%;
    background-color: rgba(0, 145, 219, .5);
    border-radius: 2px;

}

.room-name {
    text-transform: uppercase;

}

#room-name-img-label {
    padding: 1%;
    font-weight:800;
    font-style: italic;
    letter-spacing: 0.2em;
    margin-top: 2%;
    background-color: rgba(0, 145, 219, .2);
}

#room-name {
    margin-top: 2%;
    font-size: 20px;
    padding: 2%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.room-detail {
    font-size: 20px;
    padding: 2%;
    /*background-color: rgba(0, 121, 195, 0.7);*/
    border-radius: 2px;
    height: 20%;
}

#room-facilities {
    font-size: 20px;
    font-style: italic;

}

#room-capacity {
    font-size: 17px;
    font-style: italic;
}

#room-notes {
    font-size: 12px;
    font-style: italic;

}

.form-1-container {
    margin-top: 20%;
    color: black;


}

input#xtra-style {
    padding: 1%;
    width: 35%;
    background-color: rgba(241, 141, 0, 1);
    color: white;
    border: none;
    border-radius: 10px;
}


.selected{
-webkit-box-shadow: 0px 0px 24px 2px rgba(31, 44, 92,1)!important;;
-moz-box-shadow: 0px 0px 24px 2px rgba(31, 44, 92,1)!important;;
box-shadow: 0px 0px 24px 2px rgba(31, 44, 92, 1) !important;
}

