body {
    margin: auto;
}

a:link, a:visited {
    color:black;
    font-size:20px;
    text-decoration: none;
}

a:active{
    color:#0091db;
}


.head {
    /*line-height: 60px;*/
    /*margin: 0 auto;*/
}

.logo img {
    margin-left: 2%;
    /*margin-top: 0.5%;*/
}


/*.header-right-side{*/
    /*float:right;*/
    /*margin-right:40px;*/
/*}*/

.home{
    margin-left: 63%;
    margin-right: 1%;
}

/*for roombooker.html*/
.room-selection-container {
    background-color: #1F2C5C;
    color: white;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1984/black-and-white-city-man-people.jpg?h=350&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.first-container {
    text-align: center;
    /*margin-left: 3%;*/
    /*background-image: url("https://images.pexels.com/photos/296883/pexels-photo-296883.jpeg?h=350&auto=compress&cs=tinysrgb");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 0;*/
    /*background-size: cover;*/

}

.available-rooms {
    margin-top: 5%;
    font-size: 25px;
    font-weight: bold;
}
/*.img-container {*/
    /*margin-top: 5%;*/
    /*margin-left: 6%;*/
/*}*/

/*.img-divs {*/
    /*padding: 1%;*/
    /*margin-left: 2%;*/

/*}*/

.second-container {
    text-align: center;
    /*background-image: url("https://images.pexels.com/photos/263189/pexels-photo-263189.jpeg?h=350&auto=compress&cs=tinysrgb");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 0;*/
    /*background-size: cover;*/

    /*margin-left: 3%;*/
}

.available-room-info {
    margin-top: 5%;
    font-size: 25px;
    font-weight: bold;
}

.room-description {
    margin-top: 4%;
    font-size: 18px;
    color: white;

}

.form-1-container {
    /*position: absolute;*/
    margin-top: 20%;
    color: black;

}

.form-1-btn {
    margin-bottom: 0%;

}

/*.book {*/
    /*margin-top: 3%;*/
/*}*/
.footer {
   text-align: center;
    color: #9dafc0;
    background-color: #1F2C5C;
    color: #9dafc0;
    height: 100px;
}


/*GENERIC CLASSES*/
.clickable{
    cursor: pointer;
}

.selected{
-webkit-box-shadow: 0px 0px 24px 2px rgba(235,30,235,1)!important;;
-moz-box-shadow: 0px 0px 24px 2px rgba(235,30,235,1)!important;;
box-shadow: 0px 0px 24px 2px rgba(235,30,235,1) !important;
}