{% extends "roombooker/base.html" %}
{% load static %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>

{% endif %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<form method="post" action="{% url 'login' %}" id="spacing">
        {% csrf_token %}
        <div class="container">
            <div class="row"  id="login">
                <div class="col-md-12 text-center">
                    <span>{{ form.username.label_tag }}</span>
                    <span>{{ form.username }}</span>
                </div>

                <div class="col-md-12 text-center">
                     <span>{{ form.password.label_tag }}</span>
                     <span>{{ form.password }}</span>
                </div>
            </div>

            <div class="col-md-12">
                <input type="submit" class="btn btn-primary center-block" value="Login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
</form>

{% endblock %}